.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-image-1 {
  width: 412px;
  height: 412px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 6rem;
  margin: -258px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-top: -259px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -187px;
  }
}